<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css?version=2">
        <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>
        <title> Clean Out Loud</title>
    </head>
    <body>
        <div class="well main">
            <h3><%= title %></h3>
            <label>Dagens spørgsmål:</label><br>
            <label><%= question.desc %></label><br><br>

            <div class="quiztable">
                <form method="POST" action="/quiz/answer">
                <table class="table table-bordered">
                    <tr>
                        <td><%= question.ans1 %></td>
                        <td><input type="radio" name="ans" value="1"></td>
                    </tr>
                    <tr>
                        <td><%= question.ans2 %></td>
                        <td><input type="radio" name="ans" value="2"></td>
                    </tr>
                    <tr>
                        <td><%= question.ans3 %></td>
                        <td><input type="radio" name="ans" value="3"></td>
                    </tr>
                    <tr>
                        <td><%= question.ans4 %></td>
                        <td><input type="radio" name="ans" value="4"></td>
                    </tr>
                    <tr>
                        <td><%= question.ans5 %></td>
                        <td><input type="radio" name="ans" value="5"></td>
                    </tr>
                </table><br>
                <input class="btn btn-success" type="submit" value="Send Svar">
                </form>
            </div><br>
            <form method="POST" action="/back">
                <input class="btn btn-default" type="submit" value="Tilbage">
            </form>
        </div>
    </body>
</html>