<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        <link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="style.css?version=3">
        <title> Clean Out Loud</title>
    </head>
    <body>
        <div class="well main">
            <h3><%= title %></h3>
            <label>Seneste beskeder:</label><br>
            <div class="walltable">
                <form method="POST" action="/writeMessage">
                <table id="mytable" class="table table-hover">
                    <tr>
                        <th style="text-align: center">Beskeder</th>
                        <th style="text-align: center">Dato</th>
                    </tr>
                    <% for (var i = 0; i < messages.length; i++) { %>
                    <tr class="clickableRow">
                        <td class="message" id="<%= messageID[i] %>"><%= messages[i] %></td>
                        <td><%= dates[i] %></td>
                    </tr>    
                    <% } %>
                </table><br>
                <input class="btn btn-success" type="submit" value="Skriv besked">
                </form>
            </div><br>
            <form method="POST" action="/back">
                <input class="btn btn-default" type="submit" value="Tilbage">
            </form>
            <br><br>
            <label><%= error %></label>
        </div>
    </body>
</html>
<script type="text/javascript">

$(document).ready(function($) {
    $(".clickableRow").click(function() {
        var message = $(this).find(".message").attr('id');
        var data = {};
        data.message = message;
        
        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/comments',                      
            success: function(data) {
                console.log('success');
            }
        });
        location.href = "singleMessage.ejs";
    });
});
    
</script>